<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Sales\Model\Order\Payment\Operations\AuthorizeOperation">
        <arguments>
            <argument name="stateCommand" xsi:type="object">Heidelpay\Gateway\Model\Order\Payment\State\AuthorizeCommand</argument>
        </arguments>
    </type>
    <type name="Magento\Sales\Model\Order\Payment\Operations\CaptureCommand">
        <arguments>
            <argument name="stateCommand" xsi:type="object">Heidelpay\Gateway\Model\Order\Payment\State\CaptureCommand</argument>
        </arguments>
    </type>
    <type name="Magento\Shipping\Controller\Adminhtml\Order\Shipment\Save">
        <plugin name="HeidelpayGatewayShipmentSaveController" type="Heidelpay\Gateway\Controller\Adminhtml\Order\Shipment\Save" sortOrder="1"/>
    </type>

    <!-- Inject virtual payment configs -->
    <type name="Heidelpay\Gateway\PaymentMethods\HeidelpayCreditCardPaymentMethod">
        <arguments>
            <argument name ="paymentConfig" xsi:type="object">HgwCreditCardConfig</argument>
            <argument name ="paymentMethod" xsi:type="object">Heidelpay\PhpPaymentApi\PaymentMethods\CreditCardPaymentMethod</argument>
        </arguments>
    </type>
    <type name="Heidelpay\Gateway\PaymentMethods\HeidelpayDebitCardPaymentMethod">
        <arguments>
            <argument name ="paymentConfig" xsi:type="object">HgwDebitCardConfig</argument>
            <argument name ="paymentMethod" xsi:type="object">Heidelpay\PhpPaymentApi\PaymentMethods\DebitCardPaymentMethod</argument>
        </arguments>
    </type>
    <type name="Heidelpay\Gateway\PaymentMethods\HeidelpayDirectDebitPaymentMethod">
        <arguments>
            <argument name ="paymentConfig" xsi:type="object">HgwDirectDebitConfig</argument>
            <argument name ="paymentMethod" xsi:type="object">Heidelpay\PhpPaymentApi\PaymentMethods\DirectDebitPaymentMethod</argument>
        </arguments>
    </type>
    <type name="Heidelpay\Gateway\PaymentMethods\HeidelpayDirectDebitSecuredPaymentMethod">
        <arguments>
            <argument name ="paymentConfig" xsi:type="object">HgwDirectDebitSecuredConfig</argument>
            <argument name ="paymentMethod" xsi:type="object">Heidelpay\PhpPaymentApi\PaymentMethods\DirectDebitB2CSecuredPaymentMethod</argument>
        </arguments>
    </type>
    <type name="Heidelpay\Gateway\PaymentMethods\HeidelpayGiropayPaymentMethod">
        <arguments>
            <argument name ="paymentConfig" xsi:type="object">HgwGiropayConfig</argument>
            <argument name ="paymentMethod" xsi:type="object">Heidelpay\PhpPaymentApi\PaymentMethods\GiropayPaymentMethod</argument>
        </arguments>
    </type>
    <type name="Heidelpay\Gateway\PaymentMethods\HeidelpayIDealPaymentMethod">
        <arguments>
            <argument name ="paymentConfig" xsi:type="object">HgwIDealConfig</argument>
            <argument name ="paymentMethod" xsi:type="object">Heidelpay\PhpPaymentApi\PaymentMethods\IDealPaymentMethod</argument>
        </arguments>
    </type>
    <type name="Heidelpay\Gateway\PaymentMethods\HeidelpayInvoicePaymentMethod">
        <arguments>
            <argument name ="paymentConfig" xsi:type="object">HgwInvoiceConfig</argument>
            <argument name ="paymentMethod" xsi:type="object">Heidelpay\PhpPaymentApi\PaymentMethods\InvoicePaymentMethod</argument>
        </arguments>
    </type>
    <type name="Heidelpay\Gateway\PaymentMethods\HeidelpayInvoiceSecuredPaymentMethod">
        <arguments>
            <argument name ="paymentConfig" xsi:type="object">HgwInvoiceSecuredConfig</argument>
            <argument name ="paymentMethod" xsi:type="object">Heidelpay\PhpPaymentApi\PaymentMethods\InvoiceB2CSecuredPaymentMethod</argument>
        </arguments>
    </type>
    <type name="Heidelpay\Gateway\PaymentMethods\HeidelpayPayPalPaymentMethod">
        <arguments>
            <argument name ="paymentConfig" xsi:type="object">HgwPayPalConfig</argument>
            <argument name ="paymentMethod" xsi:type="object">Heidelpay\PhpPaymentApi\PaymentMethods\PayPalPaymentMethod</argument>
        </arguments>
    </type>
    <type name="Heidelpay\Gateway\PaymentMethods\HeidelpayPrepaymentPaymentMethod">
        <arguments>
            <argument name ="paymentConfig" xsi:type="object">HgwPrepaymentConfig</argument>
            <argument name ="paymentMethod" xsi:type="object">Heidelpay\PhpPaymentApi\PaymentMethods\PrepaymentPaymentMethod</argument>
        </arguments>
    </type>
    <type name="Heidelpay\Gateway\PaymentMethods\HeidelpaySofortPaymentMethod">
        <arguments>
            <argument name ="paymentConfig" xsi:type="object">HgwSofortConfig</argument>
            <argument name ="paymentMethod" xsi:type="object">Heidelpay\PhpPaymentApi\PaymentMethods\SofortPaymentMethod</argument>
        </arguments>
    </type>
    <type name="Heidelpay\Gateway\PaymentMethods\HeidelpaySantanderHirePurchasePaymentMethod">
        <arguments>
            <argument name ="paymentConfig" xsi:type="object">HgwSantanderHirePurchaseConfig</argument>
            <argument name ="paymentMethod" xsi:type="object">Heidelpay\PhpPaymentApi\PaymentMethods\SantanderHirePurchasePaymentMethod</argument>
        </arguments>
    </type>

    <!-- Config readers -->
    <virtualType name="HgwInvoiceSecuredConfig" type="Heidelpay\Gateway\Gateway\Config\HgwBasePaymentConfig">
        <arguments>
            <argument name="methodCode" xsi:type="const">Heidelpay\Gateway\PaymentMethods\HeidelpayInvoiceSecuredPaymentMethod::CODE</argument>
        </arguments>
    </virtualType>
    <virtualType name="HgwCreditCardConfig" type="Heidelpay\Gateway\Gateway\Config\HgwBasePaymentConfig">
        <arguments>
            <argument name="methodCode" xsi:type="const">Heidelpay\Gateway\PaymentMethods\HeidelpayCreditCardPaymentMethod::CODE</argument>
        </arguments>
    </virtualType>
    <virtualType name="HgwDebitCardConfig" type="Heidelpay\Gateway\Gateway\Config\HgwBasePaymentConfig">
        <arguments>
            <argument name="methodCode" xsi:type="const">Heidelpay\Gateway\PaymentMethods\HeidelpayDebitCardPaymentMethod::CODE</argument>
        </arguments>
    </virtualType>
    <virtualType name="HgwGiropayConfig" type="Heidelpay\Gateway\Gateway\Config\HgwBasePaymentConfig">
        <arguments>
            <argument name="methodCode" xsi:type="const">Heidelpay\Gateway\PaymentMethods\HeidelpayGiropayPaymentMethod::CODE</argument>
        </arguments>
    </virtualType>
    <virtualType name="HgwPrepaymentConfig" type="Heidelpay\Gateway\Gateway\Config\HgwBasePaymentConfig">
        <arguments>
            <argument name="methodCode" xsi:type="const">Heidelpay\Gateway\PaymentMethods\HeidelpayPrepaymentPaymentMethod::CODE</argument>
        </arguments>
    </virtualType>
    <virtualType name="HgwSofortConfig" type="Heidelpay\Gateway\Gateway\Config\HgwBasePaymentConfig">
        <arguments>
            <argument name="methodCode" xsi:type="const">Heidelpay\Gateway\PaymentMethods\HeidelpaySofortPaymentMethod::CODE</argument>
        </arguments>
    </virtualType>
    <virtualType name="HgwDirectDebitConfig" type="Heidelpay\Gateway\Gateway\Config\HgwBasePaymentConfig">
        <arguments>
            <argument name="methodCode" xsi:type="const">Heidelpay\Gateway\PaymentMethods\HeidelpayDirectDebitPaymentMethod::CODE</argument>
        </arguments>
    </virtualType>
    <virtualType name="HgwDirectDebitSecuredConfig" type="Heidelpay\Gateway\Gateway\Config\HgwBasePaymentConfig">
        <arguments>
            <argument name="methodCode" xsi:type="const">Heidelpay\Gateway\PaymentMethods\HeidelpayDirectDebitSecuredPaymentMethod::CODE</argument>
        </arguments>
    </virtualType>
    <virtualType name="HgwInvoiceConfig" type="Heidelpay\Gateway\Gateway\Config\HgwBasePaymentConfig">
        <arguments>
            <argument name="methodCode" xsi:type="const">Heidelpay\Gateway\PaymentMethods\HeidelpayInvoicePaymentMethod::CODE</argument>
        </arguments>
    </virtualType>
    <virtualType name="HgwPayPalConfig" type="Heidelpay\Gateway\Gateway\Config\HgwBasePaymentConfig">
        <arguments>
            <argument name="methodCode" xsi:type="const">Heidelpay\Gateway\PaymentMethods\HeidelpayPayPalPaymentMethod::CODE</argument>
        </arguments>
    </virtualType>
    <virtualType name="HgwIDealConfig" type="Heidelpay\Gateway\Gateway\Config\HgwBasePaymentConfig">
        <arguments>
            <argument name="methodCode" xsi:type="const">Heidelpay\Gateway\PaymentMethods\HeidelpayIDealPaymentMethod::CODE</argument>
        </arguments>
    </virtualType>
    <virtualType name="HgwSantanderHirePurchaseConfig" type="Heidelpay\Gateway\Gateway\Config\HgwBasePaymentConfig">
        <arguments>
            <argument name="methodCode" xsi:type="const">Heidelpay\Gateway\PaymentMethods\HeidelpaySantanderHirePurchasePaymentMethod::CODE</argument>
        </arguments>
    </virtualType>

    <!-- Preferences -->
    <preference for="Heidelpay\Gateway\Api\PaymentInterface" type="Heidelpay\Gateway\Api\Payment" />
    <preference for="Heidelpay\Gateway\Api\Data\PaymentInformationInterface" type="Heidelpay\Gateway\Model\PaymentInformation" />
    <preference for="Heidelpay\Gateway\Gateway\Config\HgwMainConfigInterface" type="Heidelpay\Gateway\Gateway\Config\HgwMainConfig" />
</config>