<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Sales\Model\Order\Payment\Operations\AuthorizeOperation">
        <arguments>
            <argument name="stateCommand" xsi:type="object">Heidelpay\Gateway\Model\Order\Payment\State\AuthorizeCommand</argument>
        </arguments>
    </type>
    <type name="Magento\Sales\Model\Order\Payment\Operations\CaptureCommand">
        <arguments>
            <argument name="stateCommand" xsi:type="object">Heidelpay\Gateway\Model\Order\Payment\State\CaptureCommand</argument>
        </arguments>
    </type>
    <type name="Magento\Shipping\Controller\Adminhtml\Order\Shipment\Save">
        <plugin name="HeidelpayGatewayShipmentSaveController" type="Heidelpay\Gateway\Controller\Adminhtml\Order\Shipment\Save" sortOrder="1"/>
    </type>
    <preference for="Heidelpay\Gateway\Api\PaymentInterface" type="Heidelpay\Gateway\Api\Payment" />
    <preference for="Heidelpay\Gateway\Api\Data\PaymentInformationInterface" type="Heidelpay\Gateway\Model\PaymentInformation" />
    <preference for="Heidelpay\Gateway\Gateway\Config\HgwMainConfigInterface" type="Heidelpay\Gateway\Gateway\Config\HgwMainConfig" />
</config>