<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- pass custom variable to checkout page -->
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="heidelpay_gateway_config_provider" xsi:type="object">Heidelpay\Gateway\Model\Config\IDealConfigProvider</item>
            </argument>
        </arguments>
    </type>

</config>